@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Sulphur+Point:400,700&display=swap');

#img-asset {
    background: url("https://images.pexels.com/photos/3254429/pexels-photo-3254429.jpeg");
    background-color: rgb(252, 176, 157);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Black Han Sans', sans-serif;
    height: 100vh;
}

#img-asset h1 {
    color: rgb(241, 105, 71);
    font-size: 1.5em;
    margin: 5%;
}

#reg-form {
    background: #FCBFB0;
    height: 100vh;
}

.main {
    color: #2b2827;
    font-family: 'Sulphur Point 700', sans-serif;
    margin: 15% 15% 5% 15%;
    text-align: right;
}

.registration {
    margin: 0 15% 10% 15%;
    text-align: right;
}

.logo {
    font-family: 'Black Han Sans', sans-serif;

    font-size: 3em;
}

.main p {
    line-height: 2;
}

.form-control {
    background: rgb(252, 176, 157);
    border-radius: 0;
    border-style: none;
    border-bottom: 2px solid rgb(243, 150, 127);
}

.form-control:focus {
    box-shadow: none;
    background:#FCBFB0;
    border-color: rgb(241, 75, 33);
 }

.submit-button {
     background: rgb(241, 105, 71);
     border: 1px solid rgb(219, 92, 61);
     font-family: 'Sulphur Point', sans-serif;
    }

 .submit-button:hover {
    background: rgb(160, 57, 31);
    border: 1px solid rgb(219, 92, 61);
 }

 .submit-button:focus {
    background: rgb(241, 105, 71);
    border: 1px solid rgb(219, 92, 61);
 }

 @media (min-width: 576px) and (max-width: 767.98px) {
    .main, .registration {
        text-align: center;
    }
 }


 @media (min-width: 768px) and (max-width: 991.98px) {
    #img-asset {
        background: url('https://images.pexels.com/photos/1048033/pexels-photo-1048033.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        height: 30vh;
    }
  }